<app-nav></app-nav>
<div class="all">
  <div class="mt-5 hali">
    <h1 class="halima"> Halima's Blog</h1>
    <p class="beau">BEAUTY, FASHION & LIFESTYLE BLOG</p>
  </div>

<div class="modal-footer">
  <button type="button" class="fa fa-close" data-dismiss="modal"></button>
</div>
  <div>

    <div class="eg">

      <div class="card-body secondhalf  ">
        <h4 class="card-title head" ></h4>
        <h6 class="entry-time" ></h6>
        <p class="trend"></p>
        <div class="cardd " >
          <img class="card-img-top"  alt="Card image" src="../../../assets/images/caro1.png" height="300"   >
          </div>
        <p class="card-text news "> </p>

      </div>


  </div>

</div>

</div>
