<app-nav></app-nav>

<div class="p-5 house d-flex" >
  <div class=" rounds rounded shadow">
    <div class="w-100 account p-3 ">
<i class="fa fa-user-o mr-4" style="font-size: 20px;"></i>
{{name}}
    </div>


    <div class="w-100 user p-3 ">
<i class="fa fa-envelope-o  mr-4" style="font-size: 20px;"></i>
Inbox
    </div>


    <div class="w-100 user p-3 ">
<i class="fa fa-book  mr-4" style="font-size: 20px;"></i>
Halima's blog terms
    </div>
    <div class="w-100 user p-3 ">
<i class="fa fa-question  mr-4" style="font-size: 20px;"></i>
FAQs
    </div>
    <div class="w-100 user p-3 ">
<i class="fa fa-user-times   mr-4" style="font-size: 20px;"></i>
Delete profile
    </div>
    <div class="w-100 user p-3 ">
<i class="fa fa-arrow-down   mr-4" style="font-size: 20px;"></i>
Sign Out
    </div>
  </div>

  <div class="rounding ml-3 rounded">

  </div>
</div>

